.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}





.icon-20131206041746337_easyicon_net_16{
background:url('icons/20131206041746337_easyicon_net_16.png') no-repeat center center;
}

.icon-3d{
background:url('icons/3d.png') no-repeat center center;
}

.icon-access{
background:url('icons/access.png') no-repeat center center;
}

.icon-acroread{
background:url('icons/acroread.png') no-repeat center center;
}

.icon-advancedsettings{
background:url('icons/advancedsettings.png') no-repeat center center;
}

.icon-agent{
background:url('icons/agent.png') no-repeat center center;
}

.icon-agt_aisles{
background:url('icons/agt_aisles.png') no-repeat center center;
}

.icon-agt_announcements{
background:url('icons/agt_announcements.png') no-repeat center center;
}

.icon-agt_business{
background:url('icons/agt_business.png') no-repeat center center;
}

.icon-agt_desktop_enhancements{
background:url('icons/agt_desktop_enhancements.png') no-repeat center center;
}

.icon-agt_games{
background:url('icons/agt_games.png') no-repeat center center;
}

.icon-agt_home{
background:url('icons/agt_home.png') no-repeat center center;
}

.icon-agt_internet{
background:url('icons/agt_internet.png') no-repeat center center;
}

.icon-agt_member{
background:url('icons/agt_member.png') no-repeat center center;
}

.icon-agt_mp3{
background:url('icons/agt_mp3.png') no-repeat center center;
}

.icon-agt_multimedia{
background:url('icons/agt_multimedia.png') no-repeat center center;
}

.icon-agt_runit{
background:url('icons/agt_runit.png') no-repeat center center;
}

.icon-agt_softwareD{
background:url('icons/agt_softwareD.png') no-repeat center center;
}

.icon-agt_utilities{
background:url('icons/agt_utilities.png') no-repeat center center;
}

.icon-agt_web{
background:url('icons/agt_web.png') no-repeat center center;
}

.icon-aim{
background:url('icons/aim.png') no-repeat center center;
}

.icon-aim_protocol{
background:url('icons/aim_protocol.png') no-repeat center center;
}

.icon-aisles{
background:url('icons/aisles.png') no-repeat center center;
}

.icon-aktion{
background:url('icons/aktion.png') no-repeat center center;
}

.icon-alert{
background:url('icons/alert.png') no-repeat center center;
}

.icon-All software is current{
background:url('icons/All software is current.png') no-repeat center center;
}

.icon-amor{
background:url('icons/amor.png') no-repeat center center;
}

.icon-announcements{
background:url('icons/announcements.png') no-repeat center center;
}

.icon-antivirus{
background:url('icons/antivirus.png') no-repeat center center;
}

.icon-applixware{
background:url('icons/applixware.png') no-repeat center center;
}

.icon-ark{
background:url('icons/ark.png') no-repeat center center;
}

.icon-arts{
background:url('icons/arts.png') no-repeat center center;
}

.icon-artsbuilder{
background:url('icons/artsbuilder.png') no-repeat center center;
}

.icon-artsbuilder2{
background:url('icons/artsbuilder2.png') no-repeat center center;
}

.icon-artscontrol{
background:url('icons/artscontrol.png') no-repeat center center;
}

.icon-assistant{
background:url('icons/assistant.png') no-repeat center center;
}

.icon-atlantik{
background:url('icons/atlantik.png') no-repeat center center;
}

.icon-atlantikdesigner{
background:url('icons/atlantikdesigner.png') no-repeat center center;
}

.icon-audio&video{
background:url('icons/audio&video.png') no-repeat center center;
}

.icon-autostart{
background:url('icons/autostart.png') no-repeat center center;
}

.icon-babelfish{
background:url('icons/babelfish.png') no-repeat center center;
}

.icon-background{
background:url('icons/background.png') no-repeat center center;
}

.icon-baobiao_1{
background:url('icons/baobiao_1.png') no-repeat center center;
}

.icon-baobiao_10{
background:url('icons/baobiao_10.png') no-repeat center center;
}

.icon-baobiao_2{
background:url('icons/baobiao_2.png') no-repeat center center;
}

.icon-baobiao_3{
background:url('icons/baobiao_3.png') no-repeat center center;
}

.icon-baobiao_4{
background:url('icons/baobiao_4.png') no-repeat center center;
}

.icon-baobiao_5{
background:url('icons/baobiao_5.png') no-repeat center center;
}

.icon-baobiao_6{
background:url('icons/baobiao_6.png') no-repeat center center;
}

.icon-baobiao_7{
background:url('icons/baobiao_7.png') no-repeat center center;
}

.icon-baobiao_8{
background:url('icons/baobiao_8.png') no-repeat center center;
}

.icon-baobiao_9{
background:url('icons/baobiao_9.png') no-repeat center center;
}

.icon-bell{
background:url('icons/bell.png') no-repeat center center;
}

.icon-blender{
background:url('icons/blender.png') no-repeat center center;
}

.icon-blockdevice{
background:url('icons/blockdevice.png') no-repeat center center;
}

.icon-browser{
background:url('icons/browser.png') no-repeat center center;
}

.icon-browser_alt{
background:url('icons/browser_alt.png') no-repeat center center;
}

.icon-bug{
background:url('icons/bug.png') no-repeat center center;
}

.icon-buisness{
background:url('icons/buisness.png') no-repeat center center;
}

.icon-business{
background:url('icons/business.png') no-repeat center center;
}

.icon-buy_a{
background:url('icons/buy_a.png') no-repeat center center;
}

.icon-buy_area{
background:url('icons/buy_area.png') no-repeat center center;
}

.icon-cache{
background:url('icons/cache.png') no-repeat center center;
}

.icon-cal{
background:url('icons/cal.png') no-repeat center center;
}

.icon-calc{
background:url('icons/calc.png') no-repeat center center;
}

.icon-calendars{
background:url('icons/calendars.png') no-repeat center center;
}

.icon-camera{
background:url('icons/camera.png') no-repeat center center;
}

.icon-Cardgame{
background:url('icons/Cardgame.png') no-repeat center center;
}

.icon-cervisia{
background:url('icons/cervisia.png') no-repeat center center;
}

.icon-clanbomber{
background:url('icons/clanbomber.png') no-repeat center center;
}

.icon-clean{
background:url('icons/clean.png') no-repeat center center;
}

.icon-clicknrun{
background:url('icons/clicknrun.png') no-repeat center center;
}

.icon-clicknrungrey{
background:url('icons/clicknrungrey.png') no-repeat center center;
}

.icon-clock{
background:url('icons/clock.png') no-repeat center center;
}

.icon-cnr{
background:url('icons/cnr.png') no-repeat center center;
}

.icon-cnrclient{
background:url('icons/cnrclient.png') no-repeat center center;
}

.icon-cnrgrey{
background:url('icons/cnrgrey.png') no-repeat center center;
}

.icon-colors{
background:url('icons/colors.png') no-repeat center center;
}

.icon-Community Help{
background:url('icons/Community Help.png') no-repeat center center;
}

.icon-company_massage{
background:url('icons/company_massage.png') no-repeat center center;
}

.icon-contact_manage{
background:url('icons/contact_manage.png') no-repeat center center;
}

.icon-cookie{
background:url('icons/cookie.png') no-repeat center center;
}

.icon-core{
background:url('icons/core.png') no-repeat center center;
}

.icon-daemons{
background:url('icons/daemons.png') no-repeat center center;
}

.icon-database{
background:url('icons/database.png') no-repeat center center;
}

.icon-date{
background:url('icons/date.png') no-repeat center center;
}

.icon-demo{
background:url('icons/demo.png') no-repeat center center;
}

.icon-designet{
background:url('icons/designet.png') no-repeat center center;
}

.icon-desktop-enhancments{
background:url('icons/desktop-enhancments.png') no-repeat center center;
}

.icon-desktopshare{
background:url('icons/desktopshare.png') no-repeat center center;
}

.icon-desktop_enhancements{
background:url('icons/desktop_enhancements.png') no-repeat center center;
}

.icon-disksfilesystems{
background:url('icons/disksfilesystems.png') no-repeat center center;
}

.icon-display{
background:url('icons/display.png') no-repeat center center;
}

.icon-displayconfig{
background:url('icons/displayconfig.png') no-repeat center center;
}

.icon-download{
background:url('icons/download.png') no-repeat center center;
}

.icon-download_manager{
background:url('icons/download_manager.png') no-repeat center center;
}

.icon-drop{
background:url('icons/drop.png') no-repeat center center;
}

.icon-easymoblog{
background:url('icons/easymoblog.png') no-repeat center center;
}

.icon-education{
background:url('icons/education.png') no-repeat center center;
}

.icon-energy{
background:url('icons/energy.png') no-repeat center center;
}

.icon-energy_star{
background:url('icons/energy_star.png') no-repeat center center;
}

.icon-enhanced_browsing{
background:url('icons/enhanced_browsing.png') no-repeat center center;
}

.icon-error{
background:url('icons/error.png') no-repeat center center;
}

.icon-exit{
background:url('icons/exit.png') no-repeat center center;
}

.icon-exit_home{
background:url('icons/exit_home.png') no-repeat center center;
}

.icon-fifteenpieces{
background:url('icons/fifteenpieces.png') no-repeat center center;
}

.icon-file-manager{
background:url('icons/file-manager.png') no-repeat center center;
}

.icon-fileshare{
background:url('icons/fileshare.png') no-repeat center center;
}

.icon-filetypes{
background:url('icons/filetypes.png') no-repeat center center;
}

.icon-firefox{
background:url('icons/firefox.png') no-repeat center center;
}

.icon-firefox_alt{
background:url('icons/firefox_alt.png') no-repeat center center;
}

.icon-firewall{
background:url('icons/firewall.png') no-repeat center center;
}

.icon-flag{
background:url('icons/flag.png') no-repeat center center;
}

.icon-flash{
background:url('icons/flash.png') no-repeat center center;
}

.icon-fonts{
background:url('icons/fonts.png') no-repeat center center;
}

.icon-fortress{
background:url('icons/fortress.png') no-repeat center center;
}

.icon-gadu{
background:url('icons/gadu.png') no-repeat center center;
}

.icon-gadu_protocol{
background:url('icons/gadu_protocol.png') no-repeat center center;
}

.icon-gaim{
background:url('icons/gaim.png') no-repeat center center;
}

.icon-gaimphone{
background:url('icons/gaimphone.png') no-repeat center center;
}

.icon-galeon{
background:url('icons/galeon.png') no-repeat center center;
}

.icon-games{
background:url('icons/games.png') no-repeat center center;
}

.icon-gimp{
background:url('icons/gimp.png') no-repeat center center;
}

.icon-gnome_apps{
background:url('icons/gnome_apps.png') no-repeat center center;
}

.icon-go{
background:url('icons/go.png') no-repeat center center;
}

.icon-goods{
background:url('icons/goods.png') no-repeat center center;
}

.icon-goods_1{
background:url('icons/goods_1.png') no-repeat center center;
}

.icon-goods_2{
background:url('icons/goods_2.png') no-repeat center center;
}

.icon-goods_3{
background:url('icons/goods_3.png') no-repeat center center;
}

.icon-goods_4{
background:url('icons/goods_4.png') no-repeat center center;
}

.icon-goods_book{
background:url('icons/goods_book.png') no-repeat center center;
}

.icon-goods_c{
background:url('icons/goods_c.png') no-repeat center center;
}

.icon-goods_cs{
background:url('icons/goods_cs.png') no-repeat center center;
}

.icon-goods_sale{
background:url('icons/goods_sale.png') no-repeat center center;
}

.icon-go_kde{
background:url('icons/go_kde.png') no-repeat center center;
}

.icon-gpg{
background:url('icons/gpg.png') no-repeat center center;
}

.icon-gpgsm{
background:url('icons/gpgsm.png') no-repeat center center;
}

.icon-graphic-design{
background:url('icons/graphic-design.png') no-repeat center center;
}

.icon-gvim{
background:url('icons/gvim.png') no-repeat center center;
}

.icon-harddrive{
background:url('icons/harddrive.png') no-repeat center center;
}

.icon-hardware{
background:url('icons/hardware.png') no-repeat center center;
}

.icon-help_index{
background:url('icons/help_index.png') no-repeat center center;
}

.icon-hibernate{
background:url('icons/hibernate.png') no-repeat center center;
}

.icon-home&food{
background:url('icons/home&food.png') no-repeat center center;
}

.icon-home{
background:url('icons/home.png') no-repeat center center;
}

.icon-hwinfo{
background:url('icons/hwinfo.png') no-repeat center center;
}

.icon-icons{
background:url('icons/icons.png') no-repeat center center;
}

.icon-iconthemes{
background:url('icons/iconthemes.png') no-repeat center center;
}

.icon-important{
background:url('icons/important.png') no-repeat center center;
}

.icon-input_devices_settings{
background:url('icons/input_devices_settings.png') no-repeat center center;
}

.icon-Internet Connection Tools{
background:url('icons/Internet Connection Tools.png') no-repeat center center;
}

.icon-internet{
background:url('icons/internet.png') no-repeat center center;
}

.icon-irc_protocol{
background:url('icons/irc_protocol.png') no-repeat center center;
}

.icon-irkick{
background:url('icons/irkick.png') no-repeat center center;
}

.icon-jabber_protocol{
background:url('icons/jabber_protocol.png') no-repeat center center;
}

.icon-java{
background:url('icons/java.png') no-repeat center center;
}

.icon-jichu_1{
background:url('icons/jichu_1.png') no-repeat center center;
}

.icon-jichu_2{
background:url('icons/jichu_2.png') no-repeat center center;
}

.icon-jichu_3{
background:url('icons/jichu_3.png') no-repeat center center;
}

.icon-jichu_5{
background:url('icons/jichu_5.png') no-repeat center center;
}

.icon-jichu_6{
background:url('icons/jichu_6.png') no-repeat center center;
}

.icon-jichu_8{
background:url('icons/jichu_8.png') no-repeat center center;
}

.icon-jichu_9{
background:url('icons/jichu_9.png') no-repeat center center;
}

.icon-juk{
background:url('icons/juk.png') no-repeat center center;
}

.icon-k3b{
background:url('icons/k3b.png') no-repeat center center;
}

.icon-kaboodle{
background:url('icons/kaboodle.png') no-repeat center center;
}

.icon-kaddressbook{
background:url('icons/kaddressbook.png') no-repeat center center;
}

.icon-kalarm{
background:url('icons/kalarm.png') no-repeat center center;
}

.icon-kappfinder{
background:url('icons/kappfinder.png') no-repeat center center;
}

.icon-karbon{
background:url('icons/karbon.png') no-repeat center center;
}

.icon-karm{
background:url('icons/karm.png') no-repeat center center;
}

.icon-kasteroids{
background:url('icons/kasteroids.png') no-repeat center center;
}

.icon-kate{
background:url('icons/kate.png') no-repeat center center;
}

.icon-katomic{
background:url('icons/katomic.png') no-repeat center center;
}

.icon-katuberling{
background:url('icons/katuberling.png') no-repeat center center;
}

.icon-kbackgammon{
background:url('icons/kbackgammon.png') no-repeat center center;
}

.icon-kbackgammon_engine{
background:url('icons/kbackgammon_engine.png') no-repeat center center;
}

.icon-kbattleship{
background:url('icons/kbattleship.png') no-repeat center center;
}

.icon-kbemusedsrv{
background:url('icons/kbemusedsrv.png') no-repeat center center;
}

.icon-kblackbox{
background:url('icons/kblackbox.png') no-repeat center center;
}

.icon-kbounce{
background:url('icons/kbounce.png') no-repeat center center;
}

.icon-kbtobexclient{
background:url('icons/kbtobexclient.png') no-repeat center center;
}

.icon-kbtserialchat{
background:url('icons/kbtserialchat.png') no-repeat center center;
}

.icon-kcalc{
background:url('icons/kcalc.png') no-repeat center center;
}

.icon-kcharselect{
background:url('icons/kcharselect.png') no-repeat center center;
}

.icon-kchart{
background:url('icons/kchart.png') no-repeat center center;
}

.icon-kcmdevices{
background:url('icons/kcmdevices.png') no-repeat center center;
}

.icon-kcmdf{
background:url('icons/kcmdf.png') no-repeat center center;
}

.icon-kcmfontinst{
background:url('icons/kcmfontinst.png') no-repeat center center;
}

.icon-kcmkicker{
background:url('icons/kcmkicker.png') no-repeat center center;
}

.icon-kcmkwm{
background:url('icons/kcmkwm.png') no-repeat center center;
}

.icon-kcmmemory{
background:url('icons/kcmmemory.png') no-repeat center center;
}

.icon-kcmmidi{
background:url('icons/kcmmidi.png') no-repeat center center;
}

.icon-kcmpartitions{
background:url('icons/kcmpartitions.png') no-repeat center center;
}

.icon-kcmpci{
background:url('icons/kcmpci.png') no-repeat center center;
}

.icon-kcmprocessor{
background:url('icons/kcmprocessor.png') no-repeat center center;
}

.icon-kcmscsi{
background:url('icons/kcmscsi.png') no-repeat center center;
}

.icon-kcmsound{
background:url('icons/kcmsound.png') no-repeat center center;
}

.icon-kcmsystem{
background:url('icons/kcmsystem.png') no-repeat center center;
}

.icon-kcmx{
background:url('icons/kcmx.png') no-repeat center center;
}

.icon-kcoloredit{
background:url('icons/kcoloredit.png') no-repeat center center;
}

.icon-kcontrol{
background:url('icons/kcontrol.png') no-repeat center center;
}

.icon-kdebluetooth{
background:url('icons/kdebluetooth.png') no-repeat center center;
}

.icon-kded{
background:url('icons/kded.png') no-repeat center center;
}

.icon-kdeprintfax{
background:url('icons/kdeprintfax.png') no-repeat center center;
}

.icon-kdevelop{
background:url('icons/kdevelop.png') no-repeat center center;
}

.icon-kdf{
background:url('icons/kdf.png') no-repeat center center;
}

.icon-kdisknav{
background:url('icons/kdisknav.png') no-repeat center center;
}

.icon-kdmconfig{
background:url('icons/kdmconfig.png') no-repeat center center;
}

.icon-kdm_home{
background:url('icons/kdm_home.png') no-repeat center center;
}

.icon-kdvi{
background:url('icons/kdvi.png') no-repeat center center;
}

.icon-kedit{
background:url('icons/kedit.png') no-repeat center center;
}

.icon-keditbookmarks{
background:url('icons/keditbookmarks.png') no-repeat center center;
}

.icon-kenolaba{
background:url('icons/kenolaba.png') no-repeat center center;
}

.icon-kexi{
background:url('icons/kexi.png') no-repeat center center;
}

.icon-keyboard{
background:url('icons/keyboard.png') no-repeat center center;
}

.icon-keyboard_layout{
background:url('icons/keyboard_layout.png') no-repeat center center;
}

.icon-keyboard_layout16{
background:url('icons/keyboard_layout16.png') no-repeat center center;
}

.icon-key_bindings{
background:url('icons/key_bindings.png') no-repeat center center;
}

.icon-kfax{
background:url('icons/kfax.png') no-repeat center center;
}

.icon-kfilereplace{
background:url('icons/kfilereplace.png') no-repeat center center;
}

.icon-kfind{
background:url('icons/kfind.png') no-repeat center center;
}

.icon-kfloppy{
background:url('icons/kfloppy.png') no-repeat center center;
}

.icon-kfm{
background:url('icons/kfm.png') no-repeat center center;
}

.icon-kfm_home{
background:url('icons/kfm_home.png') no-repeat center center;
}

.icon-kformula{
background:url('icons/kformula.png') no-repeat center center;
}

.icon-kfouleggs{
background:url('icons/kfouleggs.png') no-repeat center center;
}

.icon-kget{
background:url('icons/kget.png') no-repeat center center;
}

.icon-kghostview{
background:url('icons/kghostview.png') no-repeat center center;
}

.icon-kgoldrunner{
background:url('icons/kgoldrunner.png') no-repeat center center;
}

.icon-kgpg{
background:url('icons/kgpg.png') no-repeat center center;
}

.icon-khelpcenter{
background:url('icons/khelpcenter.png') no-repeat center center;
}

.icon-kicker{
background:url('icons/kicker.png') no-repeat center center;
}

.icon-kivio{
background:url('icons/kivio.png') no-repeat center center;
}

.icon-kjobviewer{
background:url('icons/kjobviewer.png') no-repeat center center;
}

.icon-kjumpingcube{
background:url('icons/kjumpingcube.png') no-repeat center center;
}

.icon-klaptop{
background:url('icons/klaptop.png') no-repeat center center;
}

.icon-klaptopdaemon{
background:url('icons/klaptopdaemon.png') no-repeat center center;
}

.icon-klines{
background:url('icons/klines.png') no-repeat center center;
}

.icon-klipper{
background:url('icons/klipper.png') no-repeat center center;
}

.icon-kllckety{
background:url('icons/kllckety.png') no-repeat center center;
}

.icon-klpq{
background:url('icons/klpq.png') no-repeat center center;
}

.icon-kmahjongg{
background:url('icons/kmahjongg.png') no-repeat center center;
}

.icon-kmail{
background:url('icons/kmail.png') no-repeat center center;
}

.icon-kmenu{
background:url('icons/kmenu.png') no-repeat center center;
}

.icon-kmenuedit{
background:url('icons/kmenuedit.png') no-repeat center center;
}

.icon-kmid{
background:url('icons/kmid.png') no-repeat center center;
}

.icon-kmines{
background:url('icons/kmines.png') no-repeat center center;
}

.icon-kmix{
background:url('icons/kmix.png') no-repeat center center;
}

.icon-kmousetool{
background:url('icons/kmousetool.png') no-repeat center center;
}

.icon-knetconfig{
background:url('icons/knetconfig.png') no-repeat center center;
}

.icon-knewsticker{
background:url('icons/knewsticker.png') no-repeat center center;
}

.icon-knode{
background:url('icons/knode.png') no-repeat center center;
}

.icon-knotes{
background:url('icons/knotes.png') no-repeat center center;
}

.icon-knotify{
background:url('icons/knotify.png') no-repeat center center;
}

.icon-kodo{
background:url('icons/kodo.png') no-repeat center center;
}

.icon-kolf{
background:url('icons/kolf.png') no-repeat center center;
}

.icon-konqsidebar_mediaplayer{
background:url('icons/konqsidebar_mediaplayer.png') no-repeat center center;
}

.icon-konqsidebar_news{
background:url('icons/konqsidebar_news.png') no-repeat center center;
}

.icon-konqueror{
background:url('icons/konqueror.png') no-repeat center center;
}

.icon-konquest{
background:url('icons/konquest.png') no-repeat center center;
}

.icon-konsole{
background:url('icons/konsole.png') no-repeat center center;
}

.icon-kontact{
background:url('icons/kontact.png') no-repeat center center;
}

.icon-konverter{
background:url('icons/konverter.png') no-repeat center center;
}

.icon-kopete{
background:url('icons/kopete.png') no-repeat center center;
}

.icon-korganizer{
background:url('icons/korganizer.png') no-repeat center center;
}

.icon-korn{
background:url('icons/korn.png') no-repeat center center;
}

.icon-kpackage{
background:url('icons/kpackage.png') no-repeat center center;
}

.icon-kpaint{
background:url('icons/kpaint.png') no-repeat center center;
}

.icon-kpat{
background:url('icons/kpat.png') no-repeat center center;
}

.icon-kpersonalizer{
background:url('icons/kpersonalizer.png') no-repeat center center;
}

.icon-kpilot{
background:url('icons/kpilot.png') no-repeat center center;
}

.icon-kpoker{
background:url('icons/kpoker.png') no-repeat center center;
}

.icon-kppp{
background:url('icons/kppp.png') no-repeat center center;
}

.icon-kpresenter{
background:url('icons/kpresenter.png') no-repeat center center;
}

.icon-krdc{
background:url('icons/krdc.png') no-repeat center center;
}

.icon-krec{
background:url('icons/krec.png') no-repeat center center;
}

.icon-kreversi{
background:url('icons/kreversi.png') no-repeat center center;
}

.icon-krfb{
background:url('icons/krfb.png') no-repeat center center;
}

.icon-krita{
background:url('icons/krita.png') no-repeat center center;
}

.icon-ksame{
background:url('icons/ksame.png') no-repeat center center;
}

.icon-kscd{
background:url('icons/kscd.png') no-repeat center center;
}

.icon-kscreensaver{
background:url('icons/kscreensaver.png') no-repeat center center;
}

.icon-kservices{
background:url('icons/kservices.png') no-repeat center center;
}

.icon-kshisen{
background:url('icons/kshisen.png') no-repeat center center;
}

.icon-ksirtet{
background:url('icons/ksirtet.png') no-repeat center center;
}

.icon-ksmiletris{
background:url('icons/ksmiletris.png') no-repeat center center;
}

.icon-ksnake{
background:url('icons/ksnake.png') no-repeat center center;
}

.icon-ksnapshot{
background:url('icons/ksnapshot.png') no-repeat center center;
}

.icon-ksokoban{
background:url('icons/ksokoban.png') no-repeat center center;
}

.icon-kspaceduel{
background:url('icons/kspaceduel.png') no-repeat center center;
}

.icon-ksplash{
background:url('icons/ksplash.png') no-repeat center center;
}

.icon-kspread{
background:url('icons/kspread.png') no-repeat center center;
}

.icon-kstars{
background:url('icons/kstars.png') no-repeat center center;
}

.icon-ksysguard{
background:url('icons/ksysguard.png') no-repeat center center;
}

.icon-ksysv{
background:url('icons/ksysv.png') no-repeat center center;
}

.icon-ktalkd{
background:url('icons/ktalkd.png') no-repeat center center;
}

.icon-kteatime{
background:url('icons/kteatime.png') no-repeat center center;
}

.icon-kterm{
background:url('icons/kterm.png') no-repeat center center;
}

.icon-kthememgr{
background:url('icons/kthememgr.png') no-repeat center center;
}

.icon-ktimer{
background:url('icons/ktimer.png') no-repeat center center;
}

.icon-ktip{
background:url('icons/ktip.png') no-repeat center center;
}

.icon-ktouch{
background:url('icons/ktouch.png') no-repeat center center;
}

.icon-ktron{
background:url('icons/ktron.png') no-repeat center center;
}

.icon-kudesigner{
background:url('icons/kudesigner.png') no-repeat center center;
}

.icon-kugar{
background:url('icons/kugar.png') no-repeat center center;
}

.icon-kuser{
background:url('icons/kuser.png') no-repeat center center;
}

.icon-kview{
background:url('icons/kview.png') no-repeat center center;
}

.icon-kviewshell{
background:url('icons/kviewshell.png') no-repeat center center;
}

.icon-kvirc{
background:url('icons/kvirc.png') no-repeat center center;
}

.icon-kwallet{
background:url('icons/kwallet.png') no-repeat center center;
}

.icon-kwalletmanager{
background:url('icons/kwalletmanager.png') no-repeat center center;
}

.icon-kweather{
background:url('icons/kweather.png') no-repeat center center;
}

.icon-kwikdisk{
background:url('icons/kwikdisk.png') no-repeat center center;
}

.icon-kwin{
background:url('icons/kwin.png') no-repeat center center;
}

.icon-kwin4{
background:url('icons/kwin4.png') no-repeat center center;
}

.icon-kword{
background:url('icons/kword.png') no-repeat center center;
}

.icon-kworldclock{
background:url('icons/kworldclock.png') no-repeat center center;
}

.icon-kwrite{
background:url('icons/kwrite.png') no-repeat center center;
}

.icon-kxconfig{
background:url('icons/kxconfig.png') no-repeat center center;
}

.icon-kxkb{
background:url('icons/kxkb.png') no-repeat center center;
}

.icon-laptop_battery{
background:url('icons/laptop_battery.png') no-repeat center center;
}

.icon-laptop_pcmcia{
background:url('icons/laptop_pcmcia.png') no-repeat center center;
}

.icon-lassist{
background:url('icons/lassist.png') no-repeat center center;
}

.icon-lassists{
background:url('icons/lassists.png') no-repeat center center;
}

.icon-launch{
background:url('icons/launch.png') no-repeat center center;
}

.icon-licker{
background:url('icons/licker.png') no-repeat center center;
}

.icon-licq{
background:url('icons/licq.png') no-repeat center center;
}

.icon-linguist{
background:url('icons/linguist.png') no-repeat center center;
}

.icon-linneighborhood{
background:url('icons/linneighborhood.png') no-repeat center center;
}

.icon-linphone{
background:url('icons/linphone.png') no-repeat center center;
}

.icon-linuxconf{
background:url('icons/linuxconf.png') no-repeat center center;
}

.icon-List manager{
background:url('icons/List manager.png') no-repeat center center;
}

.icon-lists{
background:url('icons/lists.png') no-repeat center center;
}

.icon-llaunch{
background:url('icons/llaunch.png') no-repeat center center;
}

.icon-locale{
background:url('icons/locale.png') no-repeat center center;
}

.icon-locale16{
background:url('icons/locale16.png') no-repeat center center;
}

.icon-lockstart_session{
background:url('icons/lockstart_session.png') no-repeat center center;
}

.icon-Login Manager{
background:url('icons/Login Manager.png') no-repeat center center;
}

.icon-logout{
background:url('icons/logout.png') no-repeat center center;
}

.icon-looknfeel{
background:url('icons/looknfeel.png') no-repeat center center;
}

.icon-lphoto{
background:url('icons/lphoto.png') no-repeat center center;
}

.icon-lreminder{
background:url('icons/lreminder.png') no-repeat center center;
}

.icon-lskat{
background:url('icons/lskat.png') no-repeat center center;
}

.icon-lsongs{
background:url('icons/lsongs.png') no-repeat center center;
}

.icon-lsuite{
background:url('icons/lsuite.png') no-repeat center center;
}

.icon-mac{
background:url('icons/mac.png') no-repeat center center;
}

.icon-magic8ball{
background:url('icons/magic8ball.png') no-repeat center center;
}

.icon-mail{
background:url('icons/mail.png') no-repeat center center;
}

.icon-mailreminder{
background:url('icons/mailreminder.png') no-repeat center center;
}

.icon-messenger{
background:url('icons/messenger.png') no-repeat center center;
}

.icon-miscellaneous{
background:url('icons/miscellaneous.png') no-repeat center center;
}

.icon-money_a{
background:url('icons/money_a.png') no-repeat center center;
}

.icon-money_b{
background:url('icons/money_b.png') no-repeat center center;
}

.icon-money_bank{
background:url('icons/money_bank.png') no-repeat center center;
}

.icon-money_c{
background:url('icons/money_c.png') no-repeat center center;
}

.icon-money_d{
background:url('icons/money_d.png') no-repeat center center;
}

.icon-mouse{
background:url('icons/mouse.png') no-repeat center center;
}

.icon-mozilla-mail{
background:url('icons/mozilla-mail.png') no-repeat center center;
}

.icon-mozilla{
background:url('icons/mozilla.png') no-repeat center center;
}

.icon-mp3{
background:url('icons/mp3.png') no-repeat center center;
}

.icon-msn{
background:url('icons/msn.png') no-repeat center center;
}

.icon-msn_protocol{
background:url('icons/msn_protocol.png') no-repeat center center;
}

.icon-multimedia{
background:url('icons/multimedia.png') no-repeat center center;
}

.icon-multimedia2{
background:url('icons/multimedia2.png') no-repeat center center;
}

.icon-multiple_monitors{
background:url('icons/multiple_monitors.png') no-repeat center center;
}

.icon-musicstore{
background:url('icons/musicstore.png') no-repeat center center;
}

.icon-mycomputer{
background:url('icons/mycomputer.png') no-repeat center center;
}

.icon-mydocuments{
background:url('icons/mydocuments.png') no-repeat center center;
}

.icon-mylinspire{
background:url('icons/mylinspire.png') no-repeat center center;
}

.icon-mymac{
background:url('icons/mymac.png') no-repeat center center;
}

.icon-mywork_a{
background:url('icons/mywork_a.png') no-repeat center center;
}

.icon-mywork_a1{
background:url('icons/mywork_a1.png') no-repeat center center;
}

.icon-mywork_b{
background:url('icons/mywork_b.png') no-repeat center center;
}

.icon-mywork_c{
background:url('icons/mywork_c.png') no-repeat center center;
}

.icon-mywork_d{
background:url('icons/mywork_d.png') no-repeat center center;
}

.icon-mywork_e{
background:url('icons/mywork_e.png') no-repeat center center;
}

.icon-mywork_log{
background:url('icons/mywork_log.png') no-repeat center center;
}

.icon-mywork_new{
background:url('icons/mywork_new.png') no-repeat center center;
}

.icon-mywork_search{
background:url('icons/mywork_search.png') no-repeat center center;
}

.icon-mywork_w2{
background:url('icons/mywork_w2.png') no-repeat center center;
}

.icon-mywork_weituo{
background:url('icons/mywork_weituo.png') no-repeat center center;
}

.icon-mywork_ww1{
background:url('icons/mywork_ww1.png') no-repeat center center;
}

.icon-my_documents{
background:url('icons/my_documents.png') no-repeat center center;
}

.icon-nautilus{
background:url('icons/nautilus.png') no-repeat center center;
}

.icon-navigator{
background:url('icons/navigator.png') no-repeat center center;
}

.icon-neotux{
background:url('icons/neotux.png') no-repeat center center;
}

.icon-netjaxer{
background:url('icons/netjaxer.png') no-repeat center center;
}

.icon-netscape{
background:url('icons/netscape.png') no-repeat center center;
}

.icon-Network Connection Manager{
background:url('icons/Network Connection Manager.png') no-repeat center center;
}

.icon-networksettings{
background:url('icons/networksettings.png') no-repeat center center;
}

.icon-no3D{
background:url('icons/no3D.png') no-repeat center center;
}

.icon-noatun{
background:url('icons/noatun.png') no-repeat center center;
}

.icon-openoffice{
background:url('icons/openoffice.png') no-repeat center center;
}

.icon-openofficeorg-20-base{
background:url('icons/openofficeorg-20-base.png') no-repeat center center;
}

.icon-openofficeorg-20-calc{
background:url('icons/openofficeorg-20-calc.png') no-repeat center center;
}

.icon-openofficeorg-20-draw{
background:url('icons/openofficeorg-20-draw.png') no-repeat center center;
}

.icon-openofficeorg-20-impress{
background:url('icons/openofficeorg-20-impress.png') no-repeat center center;
}

.icon-openofficeorg-20-math{
background:url('icons/openofficeorg-20-math.png') no-repeat center center;
}

.icon-openofficeorg-20-writer{
background:url('icons/openofficeorg-20-writer.png') no-repeat center center;
}

.icon-openofficeorg-20{
background:url('icons/openofficeorg-20.png') no-repeat center center;
}

.icon-opera{
background:url('icons/opera.png') no-repeat center center;
}

.icon-os-support{
background:url('icons/os-support.png') no-repeat center center;
}

.icon-package{
background:url('icons/package.png') no-repeat center center;
}

.icon-package_application{
background:url('icons/package_application.png') no-repeat center center;
}

.icon-package_applications{
background:url('icons/package_applications.png') no-repeat center center;
}

.icon-package_development{
background:url('icons/package_development.png') no-repeat center center;
}

.icon-package_editors{
background:url('icons/package_editors.png') no-repeat center center;
}

.icon-package_edutainment{
background:url('icons/package_edutainment.png') no-repeat center center;
}

.icon-package_favorite{
background:url('icons/package_favorite.png') no-repeat center center;
}

.icon-package_games{
background:url('icons/package_games.png') no-repeat center center;
}

.icon-package_games_arcade{
background:url('icons/package_games_arcade.png') no-repeat center center;
}

.icon-package_games_board{
background:url('icons/package_games_board.png') no-repeat center center;
}

.icon-package_games_card{
background:url('icons/package_games_card.png') no-repeat center center;
}

.icon-package_games_kids{
background:url('icons/package_games_kids.png') no-repeat center center;
}

.icon-package_games_strategy{
background:url('icons/package_games_strategy.png') no-repeat center center;
}

.icon-package_graphics{
background:url('icons/package_graphics.png') no-repeat center center;
}

.icon-package_multimedia{
background:url('icons/package_multimedia.png') no-repeat center center;
}

.icon-package_network{
background:url('icons/package_network.png') no-repeat center center;
}

.icon-package_programs{
background:url('icons/package_programs.png') no-repeat center center;
}

.icon-package_settings{
background:url('icons/package_settings.png') no-repeat center center;
}

.icon-package_system{
background:url('icons/package_system.png') no-repeat center center;
}

.icon-package_toys{
background:url('icons/package_toys.png') no-repeat center center;
}

.icon-package_utilities{
background:url('icons/package_utilities.png') no-repeat center center;
}

.icon-package_wordprocessing{
background:url('icons/package_wordprocessing.png') no-repeat center center;
}

.icon-palm{
background:url('icons/palm.png') no-repeat center center;
}

.icon-pan{
background:url('icons/pan.png') no-repeat center center;
}

.icon-panel{
background:url('icons/panel.png') no-repeat center center;
}

.icon-panel_settings{
background:url('icons/panel_settings.png') no-repeat center center;
}

.icon-parallels{
background:url('icons/parallels.png') no-repeat center center;
}

.icon-password{
background:url('icons/password.png') no-repeat center center;
}

.icon-penguin{
background:url('icons/penguin.png') no-repeat center center;
}

.icon-personal{
background:url('icons/personal.png') no-repeat center center;
}

.icon-phone_message{
background:url('icons/phone_message.png') no-repeat center center;
}

.icon-php{
background:url('icons/php.png') no-repeat center center;
}

.icon-phppg{
background:url('icons/phppg.png') no-repeat center center;
}

.icon-pppoeconfig{
background:url('icons/pppoeconfig.png') no-repeat center center;
}

.icon-printer{
background:url('icons/printer.png') no-repeat center center;
}

.icon-printmgr{
background:url('icons/printmgr.png') no-repeat center center;
}

.icon-proxy{
background:url('icons/proxy.png') no-repeat center center;
}

.icon-pybliographic{
background:url('icons/pybliographic.png') no-repeat center center;
}

.icon-pysol{
background:url('icons/pysol.png') no-repeat center center;
}

.icon-quicktime{
background:url('icons/quicktime.png') no-repeat center center;
}

.icon-quick_restart{
background:url('icons/quick_restart.png') no-repeat center center;
}

.icon-randr{
background:url('icons/randr.png') no-repeat center center;
}

.icon-reminders{
background:url('icons/reminders.png') no-repeat center center;
}

.icon-remote{
background:url('icons/remote.png') no-repeat center center;
}

.icon-restart-1{
background:url('icons/restart-1.png') no-repeat center center;
}

.icon-restart{
background:url('icons/restart.png') no-repeat center center;
}

.icon-runit{
background:url('icons/runit.png') no-repeat center center;
}

.icon-sales_a{
background:url('icons/sales_a.png') no-repeat center center;
}

.icon-sales_b{
background:url('icons/sales_b.png') no-repeat center center;
}

.icon-sales_c{
background:url('icons/sales_c.png') no-repeat center center;
}

.icon-sales_d{
background:url('icons/sales_d.png') no-repeat center center;
}

.icon-sales_e{
background:url('icons/sales_e.png') no-repeat center center;
}

.icon-sales_f{
background:url('icons/sales_f.png') no-repeat center center;
}

.icon-sales_g{
background:url('icons/sales_g.png') no-repeat center center;
}

.icon-sales_h{
background:url('icons/sales_h.png') no-repeat center center;
}

.icon-sales_i{
background:url('icons/sales_i.png') no-repeat center center;
}

.icon-sales_z{
background:url('icons/sales_z.png') no-repeat center center;
}

.icon-sale_area{
background:url('icons/sale_area.png') no-repeat center center;
}

.icon-samba{
background:url('icons/samba.png') no-repeat center center;
}

.icon-scanner{
background:url('icons/scanner.png') no-repeat center center;
}

.icon-scribus{
background:url('icons/scribus.png') no-repeat center center;
}

.icon-Service Manager{
background:url('icons/Service Manager.png') no-repeat center center;
}

.icon-Session Manager{
background:url('icons/Session Manager.png') no-repeat center center;
}

.icon-seyon{
background:url('icons/seyon.png') no-repeat center center;
}

.icon-sharemanager{
background:url('icons/sharemanager.png') no-repeat center center;
}

.icon-shutdown{
background:url('icons/shutdown.png') no-repeat center center;
}

.icon-sipphone{
background:url('icons/sipphone.png') no-repeat center center;
}

.icon-skype{
background:url('icons/skype.png') no-repeat center center;
}

.icon-smserver{
background:url('icons/smserver.png') no-repeat center center;
}

.icon-sms_protocol{
background:url('icons/sms_protocol.png') no-repeat center center;
}

.icon-sodipodi{
background:url('icons/sodipodi.png') no-repeat center center;
}

.icon-software-development{
background:url('icons/software-development.png') no-repeat center center;
}

.icon-softwareD{
background:url('icons/softwareD.png') no-repeat center center;
}

.icon-spire{
background:url('icons/spire.png') no-repeat center center;
}

.icon-starthere{
background:url('icons/starthere.png') no-repeat center center;
}

.icon-Startup Wizard{
background:url('icons/Startup Wizard.png') no-repeat center center;
}

.icon-style{
background:url('icons/style.png') no-repeat center center;
}

.icon-stylesheet{
background:url('icons/stylesheet.png') no-repeat center center;
}

.icon-switchuser{
background:url('icons/switchuser.png') no-repeat center center;
}

.icon-synaptic{
background:url('icons/synaptic.png') no-repeat center center;
}

.icon-systemsettings{
background:url('icons/systemsettings.png') no-repeat center center;
}

.icon-systemtray{
background:url('icons/systemtray.png') no-repeat center center;
}

.icon-terminal{
background:url('icons/terminal.png') no-repeat center center;
}

.icon-testbed_protocol{
background:url('icons/testbed_protocol.png') no-repeat center center;
}

.icon-textchangelog{
background:url('icons/textchangelog.png') no-repeat center center;
}

.icon-thunderbird{
background:url('icons/thunderbird.png') no-repeat center center;
}

.icon-tutorials{
background:url('icons/tutorials.png') no-repeat center center;
}

.icon-tux{
background:url('icons/tux.png') no-repeat center center;
}

.icon-usb{
background:url('icons/usb.png') no-repeat center center;
}

.icon-Utilities{
background:url('icons/Utilities.png') no-repeat center center;
}

.icon-vcalendar{
background:url('icons/vcalendar.png') no-repeat center center;
}

.icon-virus detected{
background:url('icons/virus detected.png') no-repeat center center;
}

.icon-virussafe{
background:url('icons/virussafe.png') no-repeat center center;
}

.icon-voice-support{
background:url('icons/voice-support.png') no-repeat center center;
}

.icon-Volume Manager{
background:url('icons/Volume Manager.png') no-repeat center center;
}

.icon-warehause{
background:url('icons/warehause.png') no-repeat center center;
}

.icon-warehouse{
background:url('icons/warehouse.png') no-repeat center center;
}

.icon-warehouse_a{
background:url('icons/warehouse_a.png') no-repeat center center;
}

.icon-warehouse_b{
background:url('icons/warehouse_b.png') no-repeat center center;
}

.icon-warehouse_c{
background:url('icons/warehouse_c.png') no-repeat center center;
}

.icon-warehouse_d{
background:url('icons/warehouse_d.png') no-repeat center center;
}

.icon-warehouse_f{
background:url('icons/warehouse_f.png') no-repeat center center;
}

.icon-warehouse_g{
background:url('icons/warehouse_g.png') no-repeat center center;
}

.icon-warehouse_h{
background:url('icons/warehouse_h.png') no-repeat center center;
}

.icon-warehouse_i{
background:url('icons/warehouse_i.png') no-repeat center center;
}

.icon-warehouse_j{
background:url('icons/warehouse_j.png') no-repeat center center;
}

.icon-warehouse_k{
background:url('icons/warehouse_k.png') no-repeat center center;
}

.icon-warehouse_search{
background:url('icons/warehouse_search.png') no-repeat center center;
}

.icon-web{
background:url('icons/web.png') no-repeat center center;
}

.icon-wifi{
background:url('icons/wifi.png') no-repeat center center;
}

.icon-windowlist{
background:url('icons/windowlist.png') no-repeat center center;
}

.icon-windows_list{
background:url('icons/windows_list.png') no-repeat center center;
}

.icon-windows_users{
background:url('icons/windows_users.png') no-repeat center center;
}

.icon-window_list{
background:url('icons/window_list.png') no-repeat center center;
}

.icon-wine{
background:url('icons/wine.png') no-repeat center center;
}

.icon-workflow{
background:url('icons/workflow.png') no-repeat center center;
}

.icon-workflow2{
background:url('icons/workflow2.png') no-repeat center center;
}

.icon-workflow3{
background:url('icons/workflow3.png') no-repeat center center;
}

.icon-workflow5{
background:url('icons/workflow5.png') no-repeat center center;
}

.icon-workflow6{
background:url('icons/workflow6.png') no-repeat center center;
}

.icon-wp_protocol{
background:url('icons/wp_protocol.png') no-repeat center center;
}

.icon-x{
background:url('icons/x.png') no-repeat center center;
}

.icon-xapp{
background:url('icons/xapp.png') no-repeat center center;
}

.icon-xcalc{
background:url('icons/xcalc.png') no-repeat center center;
}

.icon-xchat{
background:url('icons/xchat.png') no-repeat center center;
}

.icon-xclock{
background:url('icons/xclock.png') no-repeat center center;
}

.icon-xconsole{
background:url('icons/xconsole.png') no-repeat center center;
}

.icon-xedit{
background:url('icons/xedit.png') no-repeat center center;
}

.icon-xeyes{
background:url('icons/xeyes.png') no-repeat center center;
}

.icon-xfig{
background:url('icons/xfig.png') no-repeat center center;
}

.icon-xfmail{
background:url('icons/xfmail.png') no-repeat center center;
}

.icon-xine{
background:url('icons/xine.png') no-repeat center center;
}

.icon-xmag{
background:url('icons/xmag.png') no-repeat center center;
}

.icon-xmms{
background:url('icons/xmms.png') no-repeat center center;
}

.icon-xpaint{
background:url('icons/xpaint.png') no-repeat center center;
}

.icon-yahoo_protocol{
background:url('icons/yahoo_protocol.png') no-repeat center center;
}

.icon-yichangshuju{
background:url('icons/yichangshuju.png') no-repeat center center;
}

.icon-yingshou_1{
background:url('icons/yingshou_1.png') no-repeat center center;
}

.icon-yingshou_2{
background:url('icons/yingshou_2.png') no-repeat center center;
}

.icon-yingshou_3{
background:url('icons/yingshou_3.png') no-repeat center center;
}

.icon-yingshou_4{
background:url('icons/yingshou_4.png') no-repeat center center;
}

.icon-yingshou_5{
background:url('icons/yingshou_5.png') no-repeat center center;
}

.icon-Ym{
background:url('icons/Ym.png') no-repeat center center;
}
