.style3 a {
	color: white;
}

html,body {
	height: 100%;
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
}

body {
	word-break: break-all;
	font-size: 12px;
	font-family: "瀹浣", Arial, Helvetica, sans-serif;
	color: #2b2b2b;
	
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
}

img,a img {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle;
	outline: none;
}

ul,li {
	list-style: none;
}

input,select {
	vertical-align: middle;
}

.logincon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1034px;
	height: 418px;
	margin-left: -517px;
	margin-top: -209px;
	text-align: center;
}

.title {
	width: 322px;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.cen_con {
	width: 1033px;
	height: 338px;
	margin: 0 auto;
}

.tab_con {
	position: absolute;
	top: 60%;
	left: 51%;
	margin-top: -180px;
	margin-left: -115px;
}

.tab {
	
}

.tab tr {
	line-height: 30px;
	color: #1644b0;
}

.mcheckbox {
	width: 16px;
	height: 16px;
	background: #ddd;
 
	border-radius: 100%;
	position: relative;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}








menus


<%@ page contentType="text/html; charset=UTF-8"%>
<%@ include file="/WEB-INF/jsp/common/include.jsp"%>
<%@ taglib prefix="shiro" uri="http://shiro.apache.org/tags"%>
<body>

	<div class="easyui-panel" data-options="fit:true" style="padding: 2px;">


		<div class="easyui-layout" data-options="fit:true">

			<div title="" data-options="region:'west'" style="width: 200px">
				<div class="easyui-layout" data-options="fit:true">
					<div data-options="region:'north'" style="height: 30px">
						<a id="btn-add" href="#" class="easyui-linkbutton"
							data-options="iconCls:'icon-search'" style="height: 25px">新增</a>
						<a id="btn-edit" href="#" class="easyui-linkbutton"
							data-options="iconCls:'icon-search'">修改</a> <a id="btn" href="#"
							class="easyui-linkbutton" data-options="iconCls:'icon-search'">删除</a>
					</div>
					<div data-options="region:'center'">
						<div id="menu-tree" />
					</div>

				</div>
			</div>




		</div>


	</div>

	<script type="text/javascript">
		var menu_tree;
		$(function() {
			menu_tree = $("#menu-tree").tree({
				width : 0,
				method : 'POST',
				url : '${ctx}/system/menus',
				lines : true,
				multiple : true,
				/* panelHeight:300,
				panelWidth:300, */
				onBeforeLoad : function(node, param) {
					if (menu_tree) {//加载Tree之前
						parent.$.messager.progress({
							title : '提示',
							text : '数据处理中，请稍后....'
						});
					}
				},
				onLoadSuccess : function(node, data) {
					menu_tree.tree('expandAll', node);
					parent.$.messager.progress('close');
				},
				onClick : function(node) {
					if (node&&node.attributes && node.attributes.type) {
						var type = node.attributes.type;
						if (type == "1" || type == "0" || type == "2") {
							if (node.state == 'closed') {
								$(this).tree('expand', node.target);
							} else {
								$(this).tree('collapse', node.target);
							}
						} else if (type == "3") {
							//TODO 显示菜单详情
						}

					}
				},
			})

		})

		$("#btn-add").click(function() {
			var node=menu_tree.tree("getSelected");
			console.log(node)
			if(node&&node.attributes && node.attributes.type){
				var id=node.id;
				parent.$.modalDialog({
					href : "${ctx}/system/addmenu/"+id+"?text="+node.text+"&type="+node.attributes.type,
					title : '新增菜单',
					cache : false,
					modal : true,
					width : 400,
					height : 280,
					buttons : [ {
						id : 'btn-changepsw',
						text : '添加',
						width : 100,
						iconCls : 'icon-ok',
					} ]
				});
			}else{
				alertinfo("请选择父节点");
				return false;
			}

		})
	</script>
<body>











menu Add

<%@ page contentType="text/html; charset=UTF-8"%>
<%@ include file="/WEB-INF/jsp/common/include.jsp"%>
<%@ taglib prefix="shiro" uri="http://shiro.apache.org/tags"%>
<body>
	<style type="text/css">
			.menuImage{z-index: 9999; position: absolute;display:none;width:300px;height: 150px;border: 1px solid #AED0EA;background: white;overflow: auto;}
			.menuImage ul{margin-left: -20px;}
			.menuImage li{list-style: none;float: left;width: 18px;height:18px;}
			.menuImageOn{border:1px solid #ddd;}
	</style>


	<form id="menuAdd-form" align="center">
		<input type="hidden" value="${pid}">
		<div style="margin-top: 10px">
			<label>父节点:</label>
			<input class="easyui-textbox" type="text" value="${nodeName }" data-options="readonly:true" />
		</div>
		<div style="margin-top: 10px">
			<label>&nbsp;名称:</label> 
			<input class="easyui-textbox" type="text" name="operatename" required="required"/>
		</div>
		<div style="margin-top: 10px">
			<label>&nbsp;描述:</label> 
			<input class="easyui-textbox" type="text" name="description" required="required"/>
		</div>
		<div style="margin-top: 10px">
			<label>&nbsp;图标:</label> 
			<input id="pic" class="easyui-textbox" type="text" name="auth" required="required"/>
			<a href="javaScript:void(0);" id="picture-select">选择</a>
			<div id="menu-image" class="menuImage">
    			<ul id="menu-image-ul"></ul>
			</div>
		</div>
		<div style="margin-top: 10px">
			<label>&nbsp;排序:</label> 
			<input class="easyui-textbox" type="text" name="seq" required="required"/>
		</div>
		<c:if test="${type==1}">
		<div style="margin-top: 10px">
			<label>&nbsp;链接</label> 
			<input class="easyui-textbox" type="text" name="url" required="required"/>
		</div>
		</c:if>
		
	</form>
	
	
	<script type="text/javascript">
			$(function(){
				$("#picture-select").click(function(){
					var  max= $("#pic").offset();
					var min = $("#menuAdd-form").offset();
					console.log(max)
					console.log(min)
					var left = max.left-min.left+5;
					var top = max.top-min.top+50;
					$("#menu-image").slideDown("fast");
					/* $.ajax({   
			            url :'${ctx}/system/menuImageList',
			            type:'post',
			            dataType:'json',
			            success:function(json){
			            	$("#menu-image-ul").html("");
			            	for(var i=0;i<json.length;i++){
			            		var html = '<li><a href="javaScript:void(0);" image="'+json[i]+'"><img src="image/menu/'+json[i]+'"></a></li>';
			            		$("#menu-image-ul").append(html);
			            	}
			            }
			        }); */
			        var html = '<li><a href="javaScript:void(0);" image="59"><img src="js/easyui/themes/icons/help.png"></a></li>';
			        for(var i=0;i<50;i++){
			        	$("#menu-image-ul").append(html);
			        }
			        
					$("#menu-image").show();
					
					/* $("body").bind("mousedown", function(event){
						//if (!(event.target.id == "accesscontrol-menu-operateimage" || event.target.id == "accesscontrol-menu-image" || $(event.target).parents("#accesscontrol-menu-image").length>0)) {
							$("#menu-image").hide();
						//}
					}); */
					/* $("#menu-image-ul li img").mouseover(function() {
							$("#menu-image-ul li img").addClass("menuImageOn");
					});
					$("#menu-image-ul li img").mouseover(function() {
							$("#menu-image-ul li img").removeClass("menuImageOn");
					}); */
					$("#menu-image-ul li a").click(function() {
						var image = $(this).attr("image");
						console.log(image)	
						$("#pic").textbox("setValue",image);
						$("#menu-image").hide();
					});
				});
				
			})
	
	</script>
	
</body>




